.zombie-parts-bin-component {
    background-image: url(zombieparts/walls.jpg);
    background-size: cover;
    min-height: 100%;
}

.zombie-preview {
    height: 84vh;
    width: 47vh;
    background-size: cover;
    background-image: url(zombieparts/tester-bg@2x.png)
}

.zombie-char {
    position: relative;
}

.zombie-parts {
    position: relative;
    margin-left: -2vh;
    margin-top: 31vh;
}

.zombie-loading {
    background: url(zombieparts/zombierun.png) 0;
    background-size: cover;
    height: 287px;
    width: 192px;
    position: absolute;
    left: 16vh;
    animation: play-data-v-3614808b .7s steps(24) infinite;
}

@keyframes play-data-v-3614808b {
    to {
        background-position: -4608px
    }
}

.zombie-parts {
    position: relative;
    margin-left: -2vh;
    margin-top: 31vh
}

.zombie-parts .head {
    width: 28vh;
    position: absolute;
    left: 13vh;
    top: -4vh
}

.zombie-parts .eye {
    width: 13vh;
    position: absolute;
    left: 23vh;
    top: 8vh;
}

.zombie-parts .shirt {
    width: 13vh;
    position: absolute;
    left: 15.6vh;
    top: 13vh
}

.mouth {
    width: 6vh;
    position: absolute;
    left: 26.6vh;
    top: 15vh
}

.torso {
    width: 13vh;
    position: absolute;
    left: 15.6vh;
    top: 13vh
}

.left-thigh {
    width: 6vh;
    position: absolute;
    left: 17.3vh;
    top: 22vh
}

.right-thigh {
    width: 6vh;
    position: absolute;
    left: 20.4vh;
    top: 22vh
}

.cat-legs {
    width: 10vh;
    position: absolute;
    left: 15.4vh;
    top: 18vh
}

.left-hand {
    width: 4vh;
    position: absolute;
    left: 24.3vh;
    top: 19vh
}

.right-hand {
    width: 4vh;
    position: absolute;
    left: 28.4vh;
    top: 19vh
}

.left-forearm {
    width: 4vh;
    position: absolute;
    left: 22.3vh;
    top: 20vh
}

.right-forearm {
    width: 4vh;
    position: absolute;
    left: 26.4vh;
    top: 20vh
}

.left-upper-arm {
    width: 6vh;
    position: absolute;
    left: 19.3vh;
    top: 16vh
}

.right-upper-arm {
    width: 6vh;
    position: absolute;
    left: 23.4vh;
    top: 16vh
}

.left-leg {
    width: 4vh;
    position: absolute;
    left: 18.3vh;
    top: 27vh
}

.right-leg {
    width: 3.3vh;
    position: absolute;
    left: 22.3vh;
    top: 27.6vh
}

.left-feet {
    width: 4vh;
    position: absolute;
    left: 18.3vh;
    top: 30vh
}

.right-feet {
    width: 3.3vh;
    position: absolute;
    left: 22.3vh;
    top: 30.3vh
}

.zombie-name {
    text-transform: uppercase;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, .2)
}

.zombie-details {
    position: absolute;
    bottom: 5%;
    left: 50%;
    width: 300px;
    margin-left: -150px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    font-weight: 700
}

.zombie-name {
    font-weight: 700
}

.home-card .zombie-char {
    left: -6vh;
    top: -27vh;
    transform: scale(0.4);
}

body {
    background-image: url("zombieparts/bg.png");
    background-size: cover;
}

.card[data-v-ab64d37c] .card-header {
    background: transparent;
}

input[type="range"] {
    width: 100%;
}

a[data-v-2133ad68] {
    text-decoration: none;
}

ul[data-v-4a0b5f72] {
    overflow-y: scroll;
}

ul[data-v-4a0b5f72]::-webkit-scrollbar {
    display: none;
}

.form-control.is-invalid,
.form-control.is-valid,
.was-validated .form-control:invalid,
.was-validated .form-control:valid {
    background-position: right calc(0.375em + 0.1875rem) center;
}

input[type="color"].form-control {
    height: calc((1.5em + 0.75rem) + 2px);
    padding: 0.125rem 0.25rem;
}

.input-group-sm input[type="color"].form-control,
input[type="color"].form-control.form-control-sm {
    height: calc((1.5em + 0.5rem) + 2px);
    padding: 0.125rem 0.25rem;
}

.input-group-lg input[type="color"].form-control,
input[type="color"].form-control.form-control-lg {
    height: calc((1.5em + 1rem) + 2px);
    padding: 0.125rem 0.25rem;
}

input[type="color"].form-control:disabled {
    background-color: rgb(173, 181, 189);
    opacity: 0.65;
}

.input-group>.custom-range {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0px;
}

.input-group>.custom-file+.custom-range,
.input-group>.custom-range+.custom-file,
.input-group>.custom-range+.custom-range,
.input-group>.custom-range+.custom-select,
.input-group>.custom-range+.form-control,
.input-group>.custom-range+.form-control-plaintext,
.input-group>.custom-select+.custom-range,
.input-group>.form-control+.custom-range,
.input-group>.form-control-plaintext+.custom-range {
    margin-left: -1px;
}

.input-group>.custom-range:focus {
    z-index: 3;
}

.input-group>.custom-range:not(:last-child) {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.input-group>.custom-range:not(:first-child) {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.input-group>.custom-range {
    padding: 0px 0.75rem;
    background-color: rgb(255, 255, 255);
    background-clip: padding-box;
    border: 1px solid rgb(206, 212, 218);
    height: calc((1.5em + 0.75rem) + 2px);
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.input-group>.custom-range:focus {
    color: rgb(73, 80, 87);
    background-color: rgb(255, 255, 255);
    border-color: rgb(128, 189, 255);
    outline: 0px;
    box-shadow: rgba(0, 123, 255, 0.25) 0px 0px 0px 0.2rem;
}

.input-group>.custom-range:disabled,
.input-group>.custom-range[readonly] {
    background-color: rgb(233, 236, 239);
}

.input-group-lg>.custom-range {
    height: calc((1.5em + 1rem) + 2px);
    padding: 0px 1rem;
    border-radius: 0.3rem;
}

.input-group-sm>.custom-range {
    height: calc((1.5em + 0.5rem) + 2px);
    padding: 0px 0.5rem;
    border-radius: 0.2rem;
}

.input-group .custom-range.is-valid,
.was-validated .input-group .custom-range:valid {
    border-color: rgb(40, 167, 69);
}

.input-group .custom-range.is-valid:focus,
.was-validated .input-group .custom-range:valid:focus {
    border-color: rgb(40, 167, 69);
    box-shadow: rgba(40, 167, 69, 0.25) 0px 0px 0px 0.2rem;
}

.custom-range.is-valid:focus::-webkit-slider-thumb,
.was-validated .custom-range:valid:focus::-webkit-slider-thumb {
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 1px, rgb(155, 231, 172) 0px 0px 0px 0.2rem;
}

.custom-range.is-valid::-webkit-slider-thumb,
.was-validated .custom-range:valid::-webkit-slider-thumb {
    background-color: rgb(40, 167, 69);
    background-image: none;
}

.custom-range.is-valid::-webkit-slider-thumb:active,
.was-validated .custom-range:valid::-webkit-slider-thumb:active {
    background-color: rgb(155, 231, 172);
    background-image: none;
}

.custom-range.is-valid::-webkit-slider-runnable-track,
.was-validated .custom-range:valid::-webkit-slider-runnable-track {
    background-color: rgba(40, 167, 69, 0.35);
}

.custom-range.is-valid~.valid-feedback,
.custom-range.is-valid~.valid-tooltip,
.was-validated .custom-range:valid~.valid-feedback,
.was-validated .custom-range:valid~.valid-tooltip {
    display: block;
}

.input-group .custom-range.is-invalid,
.was-validated .input-group .custom-range:invalid {
    border-color: rgb(220, 53, 69);
}

.input-group .custom-range.is-invalid:focus,
.was-validated .input-group .custom-range:invalid:focus {
    border-color: rgb(220, 53, 69);
    box-shadow: rgba(220, 53, 69, 0.25) 0px 0px 0px 0.2rem;
}

.custom-range.is-invalid:focus::-webkit-slider-thumb,
.was-validated .custom-range:invalid:focus::-webkit-slider-thumb {
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 1px, rgb(246, 205, 209) 0px 0px 0px 0.2rem;
}

.custom-range.is-invalid::-webkit-slider-thumb,
.was-validated .custom-range:invalid::-webkit-slider-thumb {
    background-color: rgb(220, 53, 69);
    background-image: none;
}

.custom-range.is-invalid::-webkit-slider-thumb:active,
.was-validated .custom-range:invalid::-webkit-slider-thumb:active {
    background-color: rgb(246, 205, 209);
    background-image: none;
}

.custom-range.is-invalid::-webkit-slider-runnable-track,
.was-validated .custom-range:invalid::-webkit-slider-runnable-track {
    background-color: rgba(220, 53, 69, 0.35);
}

.custom-range.is-invalid~.invalid-feedback,
.custom-range.is-invalid~.invalid-tooltip,
.was-validated .custom-range:invalid~.invalid-feedback,
.was-validated .custom-range:invalid~.invalid-tooltip {
    display: block;
}

 :root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #1997c6;
    --secondary: #6c757d;
    --success: #1bc98e;
    --info: #9f86ff;
    --warning: #e4d836;
    --danger: #e64759;
    --light: #f8f9fa;
    --dark: #1a1c22;
    --black: #000;
    --light-grey: #30343e;
    --shaded: rgba(0, 0, 0, 0.2);
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

*,
 ::after,
 ::before {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

body {
    margin: 0px;
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(207, 210, 218);
    text-align: left;
    background-color: rgb(1, 1, 6);
}

[tabindex="-1"]:focus {
    outline: 0px !important;
}

hr {
    box-sizing: content-box;
    height: 0px;
    overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0px;
    margin-bottom: 0.5rem;
}

p {
    margin-top: 0px;
    margin-bottom: 1rem;
}

abbr[data-original-title],
abbr[title] {
    text-decoration: underline dotted;
    cursor: help;
    border-bottom: 0px;
}

address {
    font-style: normal;
    line-height: inherit;
}

address,
dl,
ol,
ul {
    margin-bottom: 1rem;
}

dl,
ol,
ul {
    margin-top: 0px;
}

ol ol,
ol ul,
ul ol,
ul ul {
    margin-bottom: 0px;
}

dt {
    font-weight: 700;
}

dd {
    margin-bottom: 0.5rem;
    margin-left: 0px;
}

blockquote {
    margin: 0px 0px 1rem;
}

dfn {
    font-style: italic;
}

b,
strong {
    font-weight: bolder;
}

small {
    font-size: 80%;
}

sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

a {
    color: rgb(0, 123, 255);
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: rgb(0, 86, 179);
    text-decoration: underline;
}

a:not([href]):not([tabindex]),
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
    color: inherit;
    text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
    outline: 0px;
}

code,
kbd,
pre,
samp {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 1em;
}

figure {
    margin: 0px 0px 1rem;
}

img {
    border-style: none;
}

img,
svg {
    vertical-align: middle;
}

svg {
    overflow: hidden;
}

table {
    border-collapse: collapse;
}

caption {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: rgb(108, 117, 125);
    text-align: left;
    caption-side: bottom;
}

th {
    text-align: inherit;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

button {
    border-radius: 0px;
}

button:focus {
    outline: -webkit-focus-ring-color auto 5px;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

[type="reset"],
[type="submit"],
button,
html [type="button"] {
    -webkit-appearance: button;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0px;
}

input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="time"] {
    -webkit-appearance: listbox;
}

textarea {
    overflow: auto;
    resize: vertical;
}

fieldset {
    min-width: 0px;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

legend {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0px;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    outline-offset: -2px;
    -webkit-appearance: none;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

 ::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button;
}

output {
    display: inline-block;
}

summary {
    display: list-item;
    cursor: pointer;
}

template {
    display: none;
}

[hidden] {
    display: none !important;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-width: 1px 0px 0px;
    border-right-style: initial;
    border-bottom-style: initial;
    border-left-style: initial;
    border-right-color: initial;
    border-bottom-color: initial;
    border-left-color: initial;
    border-image: initial;
    border-top-style: solid;
    border-top-color: rgb(67, 72, 87);
}

code {
    font-size: 87.5%;
    color: rgb(232, 62, 140);
    word-break: break-word;
}

a>code {
    color: inherit;
}

kbd {
    padding: 0.2rem 0.4rem;
    font-size: 87.5%;
    color: rgb(255, 255, 255);
    background-color: rgb(33, 37, 41);
    border-radius: 0.2rem;
}

kbd kbd {
    padding: 0px;
    font-size: 100%;
    font-weight: 700;
}

pre {
    display: block;
    font-size: 87.5%;
    color: rgb(33, 37, 41);
}

pre code {
    font-size: inherit;
    color: inherit;
    word-break: normal;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 30px;
}

.col {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    flex-basis: 0px;
    flex-grow: 1;
    max-width: 100%;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: rgb(255, 255, 255);
    background-color: rgb(67, 72, 87);
    background-clip: padding-box;
    border: 1px solid rgb(67, 72, 87);
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.form-control:focus {
    color: rgb(73, 80, 87);
    background-color: rgb(255, 255, 255);
    border-color: rgb(128, 189, 255);
    outline: 0px;
    box-shadow: rgba(0, 123, 255, 0.25) 0px 0px 0px 0.2rem;
}

.form-control::-webkit-input-placeholder {
    color: rgb(108, 117, 125);
    opacity: 1;
}

.form-control::placeholder {
    color: rgb(108, 117, 125);
    opacity: 1;
}

.form-control:disabled,
.form-control[readonly] {
    background-color: rgb(48, 52, 62);
    opacity: 1;
}

select.form-control[multiple],
select.form-control[size],
textarea.form-control {
    height: auto;
}

.form-group {
    margin-bottom: 1rem;
}

.form-row>.col,
.form-row>[class*="col-"] {
    padding-right: 5px;
    padding-left: 5px;
}

.custom-select.is-valid,
.form-control.is-valid,
.was-validated .custom-select:valid,
.was-validated .form-control:valid {
    border-color: rgb(40, 167, 69);
}

.custom-select.is-valid:focus,
.form-control.is-valid:focus,
.was-validated .custom-select:valid:focus,
.was-validated .form-control:valid:focus {
    border-color: rgb(40, 167, 69);
    box-shadow: rgba(40, 167, 69, 0.25) 0px 0px 0px 0.2rem;
}

.custom-select.is-valid~.valid-feedback,
.custom-select.is-valid~.valid-tooltip,
.form-control-file.is-valid~.valid-feedback,
.form-control-file.is-valid~.valid-tooltip,
.form-control.is-valid~.valid-feedback,
.form-control.is-valid~.valid-tooltip,
.was-validated .custom-select:valid~.valid-feedback,
.was-validated .custom-select:valid~.valid-tooltip,
.was-validated .form-control-file:valid~.valid-feedback,
.was-validated .form-control-file:valid~.valid-tooltip,
.was-validated .form-control:valid~.valid-feedback,
.was-validated .form-control:valid~.valid-tooltip {
    display: block;
}

.custom-select.is-invalid,
.form-control.is-invalid,
.was-validated .custom-select:invalid,
.was-validated .form-control:invalid {
    border-color: rgb(220, 53, 69);
}

.custom-select.is-invalid:focus,
.form-control.is-invalid:focus,
.was-validated .custom-select:invalid:focus,
.was-validated .form-control:invalid:focus {
    border-color: rgb(220, 53, 69);
    box-shadow: rgba(220, 53, 69, 0.25) 0px 0px 0px 0.2rem;
}

.custom-select.is-invalid~.invalid-feedback,
.custom-select.is-invalid~.invalid-tooltip,
.form-control-file.is-invalid~.invalid-feedback,
.form-control-file.is-invalid~.invalid-tooltip,
.form-control.is-invalid~.invalid-feedback,
.form-control.is-invalid~.invalid-tooltip,
.was-validated .custom-select:invalid~.invalid-feedback,
.was-validated .custom-select:invalid~.invalid-tooltip,
.was-validated .form-control-file:invalid~.invalid-feedback,
.was-validated .form-control-file:invalid~.invalid-tooltip,
.was-validated .form-control:invalid~.invalid-feedback,
.was-validated .form-control:invalid~.invalid-tooltip {
    display: block;
}

.input-group>.custom-file,
.input-group>.custom-select,
.input-group>.form-control {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0px;
}

.input-group>.custom-file+.custom-file,
.input-group>.custom-file+.custom-select,
.input-group>.custom-file+.form-control,
.input-group>.custom-select+.custom-file,
.input-group>.custom-select+.custom-select,
.input-group>.custom-select+.form-control,
.input-group>.form-control+.custom-file,
.input-group>.form-control+.custom-select,
.input-group>.form-control+.form-control {
    margin-left: -1px;
}

.input-group>.custom-file .custom-file-input:focus~.custom-file-label,
.input-group>.custom-select:focus,
.input-group>.form-control:focus {
    z-index: 3;
}

.input-group>.custom-select:not(:last-child),
.input-group>.form-control:not(:last-child) {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.input-group>.custom-select:not(:first-child),
.input-group>.form-control:not(:first-child) {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.input-group-lg>.form-control,
.input-group-lg>.input-group-append>.btn,
.input-group-lg>.input-group-append>.input-group-text,
.input-group-lg>.input-group-prepend>.btn,
.input-group-lg>.input-group-prepend>.input-group-text {
    height: calc(2.875rem + 2px);
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

.input-group-sm>.form-control,
.input-group-sm>.input-group-append>.btn,
.input-group-sm>.input-group-append>.input-group-text,
.input-group-sm>.input-group-prepend>.btn,
.input-group-sm>.input-group-prepend>.input-group-text {
    height: calc(1.8125rem + 2px);
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.custom-range {
    width: 100%;
    padding-left: 0px;
    background-color: transparent;
    -webkit-appearance: none;
}

.custom-range:focus {
    outline: none;
}

.custom-range:focus::-webkit-slider-thumb {
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 1px, rgba(0, 123, 255, 0.25) 0px 0px 0px 0.2rem;
}

.custom-range::-webkit-slider-thumb {
    width: 1rem;
    height: 1rem;
    margin-top: -0.25rem;
    background-color: rgb(0, 123, 255);
    border: 0px;
    border-radius: 1rem;
    transition: background-color 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    -webkit-appearance: none;
}

.custom-range::-webkit-slider-thumb:active {
    background-color: rgb(179, 215, 255);
}

.custom-range::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.5rem;
    color: transparent;
    cursor: pointer;
    background-color: rgb(222, 226, 230);
    border-color: transparent;
    border-radius: 1rem;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0px;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0px 0px;
}

.card-header+.list-group .list-group-item:first-child {
    border-top: 0px;
}

.accordion .card:not(:first-of-type) .card-header:first-child {
    border-radius: 0px;
}

.bg-dark {
    background-color: rgb(26, 28, 34) !important;
}

a.bg-dark:focus,
a.bg-dark:hover,
button.bg-dark:focus,
button.bg-dark:hover {
    background-color: rgb(4, 4, 5) !important;
}

.mt-2,
.my-2 {
    margin-top: 0.5rem !important;
}

.pt-4,
.py-4 {
    padding-top: 1.5rem !important;
}

html {
    position: relative;
    min-height: 100%;
}

h1,
h2 {
    line-height: 1.5;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2,
h3,
h4,
h5 {
    margin-top: 30px;
}

.hide {
    visibility: hidden;
}

.zombie-preview {
    position: relative;
}

.share-page .name-input {
    background-color: rgb(255, 255, 255);
    color: rgb(51, 51, 51);
    max-width: 500px;
}

.zombie-parts .eye,
.zombie-parts .head,
.zombie-parts .shirt {
    display: none;
}

.zombie-parts.eye-visible-1 .eye-part-1,
.zombie-parts.eye-visible-2 .eye-part-2,
.zombie-parts.eye-visible-3 .eye-part-3,
.zombie-parts.eye-visible-4 .eye-part-4,
.zombie-parts.eye-visible-5 .eye-part-5,
.zombie-parts.eye-visible-6 .eye-part-6,
.zombie-parts.eye-visible-7 .eye-part-7,
.zombie-parts.eye-visible-8 .eye-part-8,
.zombie-parts.eye-visible-9 .eye-part-9,
.zombie-parts.eye-visible-10 .eye-part-10,
.zombie-parts.eye-visible-11 .eye-part-11,
.zombie-parts.head-visible-1 .head-part-1,
.zombie-parts.head-visible-2 .head-part-2,
.zombie-parts.head-visible-3 .head-part-3,
.zombie-parts.head-visible-4 .head-part-4,
.zombie-parts.head-visible-5 .head-part-5,
.zombie-parts.head-visible-6 .head-part-6,
.zombie-parts.head-visible-7 .head-part-7,
.zombie-parts.head-visible-8 .head-part-8,
.zombie-parts.shirt-visible-1 .shirt-part-1,
.zombie-parts.shirt-visible-2 .shirt-part-2,
.zombie-parts.shirt-visible-3 .shirt-part-3,
.zombie-parts.shirt-visible-4 .shirt-part-4,
.zombie-parts.shirt-visible-5 .shirt-part-5,
.zombie-parts.shirt-visible-6 .shirt-part-6 {
    display: inherit;
}

.head-part-8 {
    z-index: 9;
}

.vb>.vb-dragger {
    z-index: 5;
    width: 12px;
    right: 0px;
}

.form-control {
    box-shadow: none;
}

.has-error .form-control,
.has-error .form-control:focus,
.has-success .form-control,
.has-success .form-control:focus,
.has-warning .form-control,
.has-warning .form-control:focus {
    border-color: rgb(67, 72, 87);
    box-shadow: none;
}

@media (min-width: 992px) {
    .mt-lg-5,
    .my-lg-5 {
        margin-top: 3rem!important;
    }
    .pt-lg-5,
    .py-lg-5 {
        padding-top: 3rem!important;
    }
}